:root {
  --primary-color: orangered;
  --secondary-color: yellow;
  --defualt-text-color: white;
  --secondary-text-color: black;
  --defualt-font-family: "Poppins", sans-serif;

  --orginal-pr-color: #ff7a59;
  --original-sc-color: yellow;
  --optional-color-1: #00bda5;
  --optional-color-2: #33475b;
  --optional-color-3: #435757;
  --secondary-bg-color: rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--defualt-text-color);
  font-family: var(--defualt-font-family);
}

#nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: var(--secondary-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.nav .car {
  font-size: 35px;
  margin-left: 25px;
}

.nav .links {
  margin: 10px 10px 0 10px;
}

.nav .links a {
  text-decoration: none;
  padding: 15px;
  margin-right: 15px;
  font-size: 20px;
  color: var(--defualt-text-color);
  border-radius: 10px;
}

a:hover {
  background-color: var(--primary-color);
}

.header {
  position: relative;
  background-color: #282828;
}

.header .image img {
  width: 100%;
  height: auto;
}

.header-text {
  position: absolute;
  top: 35%;
  left: 10%;
  font-size: 3rem;
  transform: rotate(-4deg);
  /* transform: skewX(14deg); */
  width: 70%;
  margin: auto;
}

.header .header-text .capitalized {
  text-transform: uppercase;
}

.header-text .text-container .top-text {
  position: fixed;
  left: 0;
  top: -68px;
  padding: 10px;
  background: var(--secondary-bg-color);
  border-radius: 15px;
}

.header-text .text-container .middle-text {
  background-color: var(--primary-color);
  font-size: 6rem;
  padding: 0 15px 0 15px;
  text-align: center;
  border-radius: 15px;
}

.header-text .text-container .bottom-text {
  position: fixed;
  right: 0;
  padding: 10px;
  background: var(--secondary-bg-color);
  border-radius: 15px;
}

main {
  color: black;
}

.main-container {
  background-color: #282828;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.template-1 {
  background-color: var(--primary-color);
  margin-left: 10px;
  padding-top: 50px;
  height: 550px;
  width: 450px;
  text-align: center;
  color: var(--defualt-text-color);
  position: relative;
  transition: All 1s ease-in-out;
  /* transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
}

.template-1:hover {
  transform: translateY(-30px);
}

.template-1 button {
  padding: 15px;
  width: 150px;
  border-radius: 30px;
  margin-top: 30px;
  font-size: 20px;
  border: none;
}

.service-list {
  text-align: left;
  margin-top: 10px;
  margin-left: 20px;
  padding: 20px;
}

.service-list p {
  margin-top: 10px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button:hover {
  background-color: var(--secondary-color);
  font-weight: bolder;
  font-size: 20px;
}

.service-container-1 {
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: center;
  background: #d1d1d1;
}

.service-container-1 .service-car {
  display: flex;
  flex-direction: column;
  height: 460px;
  width: 400px;
  padding: 25px;
  margin-top: 50px;
  border-left: #ff7a59 5px solid;
  border-top: #ff7a59 5px solid;
}

.service-container-1 .service-car button {
  padding: 20px 0 30px 20px;
  text-align: left;
  border: none;
  height: 100%;
  background: #282828;
  font-size: large;
  font-weight: bolder;
  cursor: pointer;
  color: wheat;
}

.service-car button:hover {
  background-color: var(--primary-color);
}

.service-container-1 .service-image-text img {
  width: 900px;
  height: 500px;
  margin-top: 30px;
  margin-left: 20px;
}

.service-container-1 .service-image-text .text {
  padding: 10px;
  margin: 10px 0 0 10px;
}

.service-container-1 .service-image-text .text .back-color-1 {
  background-color: var(--primary-color);
  font-style: italic;
  color: var(--defualt-text-color);
  padding: 0 6px 1px 5px;
  transform: skew(-14deg);
  display: inline-block;
  font-weight: 500;
}

.service-container-1 .service-image-text .text p {
  padding-top: 20px;
}

.service-container-1 .service-image-text .text h1 {
  font-size: 2.5rem;
  line-height: 1.3;
}

.service-container-1 .service-image-text .text h3 {
  margin-top: 1rem;
  padding-bottom: 5px;
  border-bottom: #ff7a59 solid 1px;
}

.service-container-1 .service-image-text .text .p-container {
  width: 500px;
}

.service-container-2 {
  background: url("/Image/set.jpg") no-repeat center center/cover;
  height: 700px;
  width: 100%;
  position: relative;
}

.service-container-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.service-container-2 .text-container-2 {
  position: relative;
  padding: 60px;
  text-align: center;
  color: var(--defualt-text-color);
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.service-container-2 .text-container-2 h1 {
  font-size: 3rem;
  margin-bottom: 35px;
}

.service-container-2 .icon-container {
  position: relative;
  display: flex;
  flex-direction: row;
  color: var(--orginal-pr-color);
  justify-content: space-evenly;
}

.service-container-2 .icon-container .fas {
  text-align: center;
  font-size: 3rem;
  margin-top: 20px;
  padding-top: 30px;
  line-height: 2.5rem;
}

.fas:hover {
  color: var(--primary-color);
}

.service-container-2 .icon-container h5 {
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.btn-2 button {
  padding: 15px;
  width: 150px;
  border-radius: 30px;
  margin: 30px 20px 20px 20px;
  font-size: 18px;
}

.btn-2 .or {
  color: var(--orginal-pr-color);
  font-size: 1.5rem;
}

.btn {
  background-color: var(--secondary-color);
  border: none;
}

.btn:hover {
  background-color: aliceblue;
}

.btn-1 {
  background-color: aliceblue;
}
