:root {
  --primary-color: orangered;
  --secondary-color: yellow;
  --defualt-text-color: white;
  --secondary-text-color: black;
  --defualt-font-family: "Poppins", sans-serif;

  --orginal-pr-color: #ff7a59;
  --original-sc-color: yellow;
  --optional-color-1: #00bda5;
  --optional-color-2: #33475b;
  --optional-color-3: #435757;
  --secondary-bg-color: rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--defualt-text-color);
  font-family: var(--defualt-font-family);
}

#nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: var(--secondary-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.nav .car {
  font-size: 35px;
  margin-left: 25px;
}

.nav .links {
  margin: 10px 10px 0 10px;
}

.nav .links a {
  text-decoration: none;
  padding: 15px;
  margin-right: 15px;
  font-size: 20px;
  color: var(--defualt-text-color);
  border-radius: 10px;
}

a:hover {
  background-color: var(--primary-color);
}

.header {
  position: relative;
  background-color: #282828;
}

.header .image img {
  width: 100%;
  height: auto;
}

.header-text {
  position: absolute;
  top: 35%;
  left: 10%;
  font-size: 3rem;
  transform: rotate(-4deg);
  /* transform: skewX(14deg); */
  width: 70%;
  margin: auto;
}

.header .header-text .capitalized {
  text-transform: uppercase;
}

.header-text .text-container .top-text {
  position: fixed;
  left: 0;
  top: -68px;
  padding: 10px;
  background: var(--secondary-bg-color);
  border-radius: 15px;
}

.header-text .text-container .middle-text {
  background-color: var(--primary-color);
  font-size: 6rem;
  padding: 0 15px 0 15px;
  text-align: center;
  border-radius: 15px;
}

.header-text .text-container .bottom-text {
  position: fixed;
  right: 0;
  padding: 10px;
  background: var(--secondary-bg-color);
  border-radius: 15px;
}

main {
  color: black;
}

.main-container {
  background-color: #282828;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.template-1 {
  background-color: var(--primary-color);
  margin-left: 10px;
  padding-top: 50px;
  height: 550px;
  width: 450px;
  text-align: center;
  color: var(--defualt-text-color);
  position: relative;
  transition: All 1s ease-in-out;
  /* transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
}

.template-1:hover {
  transform: translateY(-30px);
}

.template-1 button {
  padding: 15px;
  width: 150px;
  border-radius: 30px;
  margin-top: 30px;
  font-size: 20px;
  border: none;
}

.service-list {
  text-align: left;
  margin-top: 10px;
  margin-left: 20px;
  padding: 20px;
}

.service-list p {
  margin-top: 10px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button:hover {
  background-color: var(--secondary-color);
  font-weight: bolder;
  font-size: 20px;
}

.service-container-1 {
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: center;
  background: #d1d1d1;
}

.service-container-1 .service-car {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
  padding: 25px;
  margin: 5px;
}

.service-container-1 .service-car button {
  padding: 20px 0 30px 20px;
  text-align: left;
  border: none;
  background-color: #b2b2b2;
  font-size: large;
  font-weight: lighter;
  cursor: pointer;
}

.service-car button:hover {
  background-color: var(--primary-color);
}

.service-container-1 .service-image-text img {
  width: 900px;
  height: 500px;
  margin-top: 30px;
  margin-left: 20px;
}

.service-container-1 .service-image-text .text {
  padding: 10px;
  margin: 10px 0 0 10px;
}

.service-container-1 .service-image-text .text .back-color-1 {
  background-color: var(--primary-color);
  font-style: italic;
  color: var(--defualt-text-color);
  padding: 0 6px 1px 5px;
  transform: skew(-14deg);
  display: inline-block;
  font-weight: 500;
}

.service-container-1 .service-image-text .text p {
  padding-top: 20px;
}

.service-container-1 .service-image-text .text h1 {
  font-size: 2.5rem;
  line-height: 1.3;
}

.service-container-1 .service-image-text .text .p-container {
  width: 500px;
}
