.header-color {
  color: var(--primary-color);
}

.current {
  background-color: var(--primary-color);
}

.yellow-text {
  color: var(--secondary-color);
}

.car-color {
  color: var(--primary-color);
}

.main-container h2 {
  font-size: 2rem;
}

.main-container .capitalized {
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 15px;
  font-weight: normal;
}

.main-container .color-2 {
  color: var(--secondary-color);
  font-size: 50px;
}
